
.orange {
    color: orange;
    font-weight: bold;
    font-style: italic;
}

.us {
    text-indent: 50px;
    font-size: 1.5em;
    padding: 5em 5em;
}

.ui.vertical.segment {
    padding: 8em 0em;
}

h3.ui.header.header-1 {
    font-size: 3em;
}

h3.ui.header.header-2 {
    font-size: 2em;
    padding: 1em 3em;
}

.ui.grid>.row.advanteges {
    padding: 4em;
}
